
/* le añdimos al body un formato que sea general para que lo tenga todo el css de base*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f7;
}
.card--all{
    margin: 20px;


}

.header {
    width: auto;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.titulo--h2 {
    margin: 0;
}

.Card_img img {
    border-radius: 50%;
}

.nav {
    margin-top: 15px;
}

.añadidos--buttom {
    color: white;
    background-color: #07bf;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
}

.añadidos--buttom:hover {
    background-color: #0563;
}


.main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section--1, .section--2 {
    width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

article {
    margin-bottom: 20px;
}

.datos--personales-h, .educacion--h4 {
    color: blue;
    text-decoration: underline;
}


button {
    background-color: #ccc;
    border: none;
    padding: 10px;
    color: white;

}

progress {
    width: 100%;
    height: 20px;
}

/*  portfolio */
.Card_portfolio {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
}

.portfolio-bar {
    background-color: #ddd;
    border-radius: 5px; 
    margin-bottom: 5px;
}

.portfolio--bara {
    height: 20px;
    background-color: #007bff;
    text-align: center;
    color: white;
}

.barra-35{
width: 35%;
border-radius: 5px;
}

.barra-30{
    width: 30%;
    border-radius: 5px;
}

.barra-60{
    width: 60%;
    border-radius: 5px;
}
.barra-10{
    width: 10%;
    border-radius: 5px;
}




/* footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer--p {
    margin: 0;
    color: white;
}

.mapa {
    margin-top: 15px;
}
