td,th{
    border: solid 2px black;

}


.tabla{
    background-color: #0002;
    
}
.table--table{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inicio{
    margin-top: 40px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
a{
    text-decoration: none;
    background-color: orange;
    padding: 15px;
    border-radius: 20px;
    color: black;

}


a:hover{
    background-color: aqua;

}